JWT_SECRET=dhdejfiiiiiiiiiiiiiiiiiiiiiiproductionndjnsssssssshhuhahHUEGE7849UEWSDNDSJIU87Y4849WHDSHVCXHVCYGDFYHEHWIJODJJBCHGUGDUSDBHCVHDUDUWIUYhdgdsbuwiqihY8U9URBCVJDHIUII@LCHDHHNC
SESSION_SECRET=hgjihuhbkolkmmnnbbbjhhhbjkkjnb
MONGO_URL=mongodb://localhost:27017/ecommerce_db
ADMIN_USER=admin
ADMIN_PASS=admin123



